<!DOCTYPE html>
<html>
  <head>
    <title>Students</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <% flash.each do |key, value| %>
          <div ><%= value %></div>
        <% end %>
      </div>
      <div class='row'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
